@import url('https://fonts.googleapis.com/css?family=Open Sans Condensed:300');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Purple+Purse&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background: #F9FAFC;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  align-items: center;
}

.menu-icon {
  display: none;
}

.dropdown-menu{
  background: linear-gradient(180deg, #ADBABD 1.5%, #FFFFFF 92.13%);
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #015B7C;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  font-family: 'Open Sans Condensed', sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 10px 30px;
  margin: 0 0 16px 10px;
}

.h6-title{
  color: white; 
  font-size: 24px; 
  letter-spacing: 2px; 
}

.sidebar-title>span {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
  display: none;
}

hr{
  color: white
}

.sidebar-list-item {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin: 4px 16px 4px 16px;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;
  padding-left: 4px;
}

.nav-link.dashboard {
  background-color: rgba(243, 243, 243, 0.41);
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  margin: 4px 16px 4px 16px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
}

/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 80px 20px 80px;
}

.sub-main{
    margin-top: 88px;
    justify-content: center;
}

h3{
    font-weight: 700;
}

.btn-danger{
    margin-top: 26px;
    border: none;
    border-radius: 20px;
    height: 36px;
    width: 80px;
    background-color: #FA5F00;
    font-weight: 600;
    font-size: 14px;
}

.form-select {
    background-color: #EBEBEB;
    border-radius: 8px;
    width: 100%;
}

.in-profile{
    border-radius: 8px; 
    background: #EBEBEB;
}

.profile{
    width: 60%; 
    height: 60%;
    z-index: 10; 
    max-width: 60%;
    max-height: 60%;
    aspect-ratio: 1 / 1;
    object-fit: cover; 
}

.save{
    border-radius: 8px; 
    background: #FA6301; 
    color: white; 
    font-weight: 400; 
    width: 20%; 
    text-align: center;
}

label{
    font-weight: 600;
}
/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }


  #sidebar {
    display: none;
  }

  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 20px 20px;
    margin-bottom: 30px;
  }

  .sidebar-title>span {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title>span {
    display: inline;
  }

  .div-main-container {
    height: auto;
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .products {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }

  .div-main-container {
    height: auto;
  }

  .main-container {
    padding: 1%;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .header {
    padding: 0 15px;
  }

  #sidebar {
    display: none;
  }

  .main-container {
    padding: 1%;
  }

  .card {
    margin: 0;
    width: 100%;
  }

  .div-main-container {
    height: auto;
  }
}